<div class="container">
    <% @datasets.each do |dataset| %>
      <div class="dataset">
        <div class="row">
            <div class="col-md-8">
                <h2><%= dataset.name %> <small><%= dataset.created_at %></small></h2>
                <div class="desc"><%= dataset.description %></div>
            </div>
            <div class="col-md-4">
                <div class="owner"><%= image_tag dataset.owner.avatar %> <%= dataset.owner.name %></div>
            </div>
        </div>
      </div>
    <% end %>
</div>