<div class="container">
    <h2><strong>Latest open data</strong></h2>
    <% @datasets.each do |dataset| %>
      <div class="dataset" data-id="<%= dataset.id %>">
        <div class="row">
            <div class="col-md-8">
                <h2><%= dataset.name %> <small><%= dataset.created_at %></small></h2>
                <div class="desc"><%= dataset.description %></div>
            </div>
            <div class="col-md-4">
                <div class="owner"><%= image_tag dataset.owner.avatar %> <%= dataset.owner.name %></div>
            </div>
        </div>
        <div class="more" style="display:none"></div>
      </div>
    <% end %>
</div>
<script id="t-datasets-more" type="x-handlebars-template">
    <hr>
    <h3>Sample data</h3>
    <table class="table">
        <tr>{{#each first_row}}<th>{{@key}}</th>{{/each}}</tr>
        <tr>{{#each first_row}}<td>{{this}}</td>{{/each}}</tr>
    </table>
    <p></p>
    <div class="row" style="margin: 0;">
        <div class="pull-left">資料總數量: {{ row_count }} 筆</div>
        <a class="pull-right btn btn-danger" href="/datasets/{{ id }}">詳細資料</a>
    <div>
</script>