<h1>New dataset</h1>

<%= simple_form_for @dataset do |f| %>
  <table>
    <tr>
      <td>
        上傳檔案 <%= f.file_field :datafile %>
      </td>
    </tr>
    <tr>
      <td>
        網址 <%= f.text_field :source %>
      </td>
    </tr>
  </table>
  <%= f.input :name %>
  <%= f.input :description %>
  <div class="form-actions">
    <input type="submit" value="建立">
  </div>
<% end %>
<%= link_to 'Back', datasets_path %>
