<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dataset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dataset.description %>
</p>

<p>
  <strong>License:</strong>
  <%= @dataset.license %>
</p>

<p>
  <strong>Source:</strong>
  <%= @dataset.source %>
</p>

<p>
  <strong>Source type:</strong>
  <%= @dataset.source_type %>
</p>

<p>
  <strong>Sync frequency:</strong>
  <%= @dataset.sync_frequency %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dataset.owner_id %>
</p>

<table class="dataset-preview">
  <thead>
    <tr>
      <% @dataset.fields.each do |f| %>
        <th><%= f.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @dataset.rows.each do |r| %>
    <tr>
      <% r.data.joins(:dataset_field).order('dataset_fields.id').each do |datum| %>
        <td><%= datum.dataset_field_data %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
