<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-8">
        <h1><%= @dataset.name %></h1>
        <h4><%= @dataset.description %></h4>
        <h4>API <input type="text" onfocus="this.select()" onmouseover="this.focus();" class="form-control" value="<%= dataset_url %>.json"></h4>
    </div>
    <div class="col-md-4">
        <%= image_tag @dataset.owner.avatar %>
        <span class="username"><%= @dataset.owner.name %></span>
    </div>      
</div>
<hr>

<table style="width: 100%" class="dataset-preview">
  <thead>
    <tr>
      <% @dataset.fields.each do |f| %>
        <th><%= f.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @dataset.rows.each do |r| %>
    <tr>
      <% r.data.joins(:dataset_field).order('dataset_fields.id').each do |datum| %>
        <td><%= datum.dataset_field_data %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'openmydata'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  