<p id="notice"><%= notice %></p>

<p>
  <strong>Placeholder name:</strong>
  <%= @dataset_parameter.placeholder_name %>
</p>

<p>
  <strong>Placeholder type:</strong>
  <%= @dataset_parameter.placeholder_type %>
</p>

<p>
  <strong>Placeholder coverter:</strong>
  <%= @dataset_parameter.placeholder_coverter %>
</p>

<p>
  <strong>Placeholder valid values:</strong>
  <%= @dataset_parameter.placeholder_valid_values %>
</p>

<%= link_to 'Edit', edit_dataset_parameter_path(@dataset_parameter) %> |
<%= link_to 'Back', dataset_parameters_path %>
