<!DOCTYPE html>
<html lang="en">
<head>
  <title>OpenMyData</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_helper_classes %>">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">OpenMyData</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="search" placeholder="Search Datasets" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="<%= new_dataset_path %>">Import</a>
        </li>
        <li>
          <a href="<%= datasets_path %>">List</a>
        </li>

        <% if user_signed_in? %>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <img src="<%= current_user.avatar(50) %>" width="20" height="20" />
              <%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to '登出', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to '登入', new_user_session_path %></li>
          <li><%= link_to '註冊', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>

<div id="main" class="container">
    <%= yield %>
</div>

</body>
</html>
